doctype html 
html(lang="ko")
    head 
        title TodoList By Hanyu
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            p Todo를 볼 날짜를 선택해주세요
            form
                input(type="date")
            form
                button(value="등록")
            form 
                button(value="삭제")
        main 
            ul
                li
                    input(type="checkbox")
                    a(href="") 
                li
                    input(type="checkbox")
                    a(href="") 
                li
                    input(type="checkbox")
                    a(href="") 
                li
                    input(type="checkbox")
                    a(href="") 
                li
                    input(type="checkbox")
                    a(href="") 
                li
                    input(type="checkbox")
                    a(href="") 
                li
                    input(type="checkbox")
                    a(href="") 
                li
                    input(type="checkbox")
                    a(href="") 
                li
                    input(type="checkbox")
                    a(href="") 
                li
                    input(type="checkbox")
                    a(href="") 
            .paging  페이징
